.act-item{
    background:#fff;
    color:#333;
    margin:px2rem(26px) 0;
    overflow:hidden;
    a{
      display:flex;
      width:100%;
      padding:px2rem(21px) 0;
      background:transparent;
      text-decoration:none;
      overflow:hidden;
      .num{
        flex:2;
        padding-top:px2rem(27px);
        margin-left:px2rem(38px);
        margin-right:px2rem(23px);
        width:px2rem(87px);
        height:px2rem(87px);
        text-align:center;
        line-height:1;
        color:#333;
      }
      .text{
        width:px2rem(469px);
        flex:7;
        strong{
          display:block;
          font-size:px2rem(34px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 400;
          line-height:1.5em;
          color:#333;
        }
        p{
          margin:0;
          color:#686868;
          font-size:px2rem(30px);
          white-space: pre;
          text-overflow: ellipsis;
          line-height:1.5em;
          overflow: hidden;
        
        }
      }
      .act-icon{
        flex:1;
        margin-top:px2rem(27px);
        margin-right:px2rem(38px);
      }
    }
  }